In [2]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv('dataset-1.csv')
df

     id_1  id_2  route   moto    car     rv   bus  truck
0     829   827      1   2.05   4.14   4.14  10.1   15.2
1     829   821      4   6.63  13.26  13.26  32.4   48.5
2     829   804      7  14.41  28.92  28.92  64.7   97.0
3     829   822      6   5.90  11.81  11.81  28.8   43.2
4     829   826      9   2.87   5.81   5.81  14.2   21.2
..    ...   ...    ...    ...    ...    ...   ...    ...
336   803   802      3   1.70   3.40   3.40   6.9   10.3
337   803   805      4   3.00   6.00   6.00  12.0   17.9
338   803   825      3  11.59  23.28  23.28  50.1   75.2
339   803   806      9   3.80   7.70   7.70  15.3   23.0
340   803   830      1  16.18  32.47  32.47  72.6  108.8

[341 rows x 8 columns]

# Q-1 Car_Matrix_generation

In [37]:
ndf = df.pivot(index='id_1', columns='id_2',values ='car')
ndf = ndf.fillna(0)
ndf

id_2,801,802,803,804,805,806,807,808,809,821,822,823,824,825,826,827,829,830,831
id_1,,,,,,,,,,,,,,,,,,,
801,0.00,2.80,6.00,7.70,11.70,13.40,16.90,19.60,21.00,23.52,24.67,26.53,27.92,29.08,30.87,32.53,36.32,38.27,39.24
802,2.80,0.00,3.40,5.20,9.20,10.90,14.30,17.10,18.50,20.92,22.07,23.93,25.32,26.48,28.27,29.93,33.72,35.67,36.64
803,6.00,3.40,0.00,2.00,6.00,7.70,11.10,13.90,15.30,17.72,18.87,20.73,22.12,23.28,25.07,26.73,30.52,32.47,33.44
804,7.70,5.20,2.00,0.00,4.40,6.10,9.50,12.30,13.70,16.12,17.27,19.13,20.52,21.68,23.47,25.13,28.92,30.87,31.84
805,11.70,9.20,6.00,4.40,0.00,2.00,5.40,8.20,9.60,12.02,13.17,15.03,16.42,17.58,19.37,21.03,24.82,26.77,27.74
806,13.40,10.90,7.70,6.10,2.00,0.00,3.80,6.60,8.00,10.42,11.57,13.43,14.82,15.98,17.77,19.43,23.22,25.17,26.14
807,16.90,14.30,11.10,9.50,5.40,3.80,0.00,2.90,4.30,6.82,7.97,9.83,11.22,12.38,14.17,15.83,19.62,21.57,22.54
808,19.60,17.10,13.90,12.30,8.20,6.60,2.90,0.00,1.70,4.12,5.27,7.13,8.52,9.68,11.47,13.13,16.92,18.87,19.84
809,21.00,18.50,15.30,13.70,9.60,8.00,4.30,1.70,0.00,2.92,4.07,5.93,7.32,8.48,10.27,11.93,15.72,17.67,18.64
821,23.52,20.92,17.72,16.12,12.02,10.42,6.82,4.12,2.92,0.00,1.80,3.67,5.06,6.22,8.01,9.43,13.26,15.17,16.15
822,24.67,22.07,18.87,17.27,13.17,11.57,7.97,5.27,4.07,1.80,0.00,2.21,3.60,4.76,6.55,8.00,11.81,13.74,14.68
823,26.53,23.93,20.73,19.13,15.03,13.43,9.83,7.13,5.93,3.67,2.21,0.00,1.79,2.94,4.74,6.15,10.00,11.89,12.87
824,27.92,25.32,22.12,20.52,16.42,7.80,11.22,8.52,7.32,5.06,3.60,1.79,0.00,1.71,3.50,4.92,8.77,10.66,11.64
825,29.08,26.48,23.28,21.68,17.58,15.98,12.38,9.68,8.48,6.22,4.76,2.94,1.71,0.00,2.20,3.65,7.46,9.35,10.33
826,30.87,28.27,25.07,23.47,19.37,17.77,14.17,11.47,10.27,8.01,6.55,4.74,3.50,2.20,0.00,2.05,5.81,7.71,8.69
827,32.53,29.93,26.73,25.13,21.03,19.43,15.83,13.13,11.93,9.43,8.00,6.15,4.92,3.65,2.05,0.00,4.14,6.06,7.04
829,36.32,33.72,30.52,28.92,24.82,23.22,19.62,16.92,15.72,13.26,11.81,10.00,21.40,7.46,5.81,4.14,0.00,2.38,3.36
830,38.27,35.67,32.47,30.87,26.77,25.17,21.57,18.87,17.67,15.17,13.74,11.89,10.66,0.00,7.71,6.06,2.38,0.00,1.39
831,39.24,36.64,33.44,31.84,27.74,26.14,22.54,19.84,18.64,16.15,14.68,12.87,11.64,10.33,8.69,7.04,3.36,1.39,0.00

In [36]:
ndf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, 801 to 831
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   801     18 non-null     float64
 1   802     18 non-null     float64
 2   803     18 non-null     float64
 3   804     18 non-null     float64
 4   805     18 non-null     float64
 5   806     18 non-null     float64
 6   807     18 non-null     float64
 7   808     18 non-null     float64
 8   809     18 non-null     float64
 9   821     18 non-null     float64
 10  822     18 non-null     float64
 11  823     18 non-null     float64
 12  824     18 non-null     float64
 13  825     17 non-null     float64
 14  826     18 non-null     float64
 15  827     18 non-null     float64
 16  829     18 non-null     float64
 17  830     18 non-null     float64
 18  831     18 non-null     float64
dtypes: float64(19)
memory usage: 3.0 KB

# Q-2 Car Type Count Calculation

In [12]:
df

     id_1  id_2  route   moto    car     rv   bus  truck
0     829   827      1   2.05   4.14   4.14  10.1   15.2
1     829   821      4   6.63  13.26  13.26  32.4   48.5
2     829   804      7  14.41  28.92  28.92  64.7   97.0
3     829   822      6   5.90  11.81  11.81  28.8   43.2
4     829   826      9   2.87   5.81   5.81  14.2   21.2
..    ...   ...    ...    ...    ...    ...   ...    ...
336   803   802      3   1.70   3.40   3.40   6.9   10.3
337   803   805      4   3.00   6.00   6.00  12.0   17.9
338   803   825      3  11.59  23.28  23.28  50.1   75.2
339   803   806      9   3.80   7.70   7.70  15.3   23.0
340   803   830      1  16.18  32.47  32.47  72.6  108.8

[341 rows x 8 columns]

In [16]:
conditions = [
        (df['car'] <= 15),
        (df['car'] > 15) & (df['car'] <= 25),
        (df['car'] > 25)
    ]
choices = ['low', 'medium', 'high']
df['car_type'] = pd.cut(df['car'], bins=[-float('inf'), 15, 25, float('inf')], labels=choices)
df

     id_1  id_2  route   moto    car     rv   bus  truck car_type
0     829   827      1   2.05   4.14   4.14  10.1   15.2      low
1     829   821      4   6.63  13.26  13.26  32.4   48.5      low
2     829   804      7  14.41  28.92  28.92  64.7   97.0     high
3     829   822      6   5.90  11.81  11.81  28.8   43.2      low
4     829   826      9   2.87   5.81   5.81  14.2   21.2      low
..    ...   ...    ...    ...    ...    ...   ...    ...      ...
336   803   802      3   1.70   3.40   3.40   6.9   10.3      low
337   803   805      4   3.00   6.00   6.00  12.0   17.9      low
338   803   825      3  11.59  23.28  23.28  50.1   75.2   medium
339   803   806      9   3.80   7.70   7.70  15.3   23.0      low
340   803   830      1  16.18  32.47  32.47  72.6  108.8     high

[341 rows x 9 columns]

# Calculate the count of occurrences for each `car_type` category and return the result as a dictionary. Sort the dictionary alphabetically based on keys

In [24]:
type_counts = df['car_type'].value_counts().to_dict()
sorted_type_counts = dict(sorted(type_counts.items()))

sorted_type_counts

{'high': 56, 'low': 196, 'medium': 89}

# Q-3 Bus Count Index Retrieval

In [29]:
df

     id_1  id_2  route   moto    car     rv   bus  truck car_type
0     829   827      1   2.05   4.14   4.14  10.1   15.2      low
1     829   821      4   6.63  13.26  13.26  32.4   48.5      low
2     829   804      7  14.41  28.92  28.92  64.7   97.0     high
3     829   822      6   5.90  11.81  11.81  28.8   43.2      low
4     829   826      9   2.87   5.81   5.81  14.2   21.2      low
..    ...   ...    ...    ...    ...    ...   ...    ...      ...
336   803   802      3   1.70   3.40   3.40   6.9   10.3      low
337   803   805      4   3.00   6.00   6.00  12.0   17.9      low
338   803   825      3  11.59  23.28  23.28  50.1   75.2   medium
339   803   806      9   3.80   7.70   7.70  15.3   23.0      low
340   803   830      1  16.18  32.47  32.47  72.6  108.8     high

[341 rows x 9 columns]

In [32]:
mean_bus_value = df['bus'].mean()
bus_indexes = df[df['bus'] > 2 * mean_bus_value].index.tolist()
bus_indexes.sort()
bus_indexes

[2,
 7,
 12,
 17,
 25,
 30,
 54,
 64,
 70,
 97,
 144,
 145,
 149,
 154,
 160,
 201,
 206,
 210,
 215,
 234,
 235,
 245,
 250,
 309,
 314,
 319,
 322,
 323,
 334,
 340]

In [33]:
df

     id_1  id_2  route   moto    car     rv   bus  truck car_type
0     829   827      1   2.05   4.14   4.14  10.1   15.2      low
1     829   821      4   6.63  13.26  13.26  32.4   48.5      low
2     829   804      7  14.41  28.92  28.92  64.7   97.0     high
3     829   822      6   5.90  11.81  11.81  28.8   43.2      low
4     829   826      9   2.87   5.81   5.81  14.2   21.2      low
..    ...   ...    ...    ...    ...    ...   ...    ...      ...
336   803   802      3   1.70   3.40   3.40   6.9   10.3      low
337   803   805      4   3.00   6.00   6.00  12.0   17.9      low
338   803   825      3  11.59  23.28  23.28  50.1   75.2   medium
339   803   806      9   3.80   7.70   7.70  15.3   23.0      low
340   803   830      1  16.18  32.47  32.47  72.6  108.8     high

[341 rows x 9 columns]

# Q-4 Route filtering

In [38]:
route_avg_truck = df.groupby('route')['truck'].mean()
selected_routes = route_avg_truck[route_avg_truck > 7].index.tolist()
selected_routes.sort()
selected_routes

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Q-5 Matrix Value Modification

In [52]:
ndf = ndf.applymap(lambda x: round(x * 0.75, 1) if x > 20 else round(x * 1.25, 1))
ndf

id_2,801,802,803,804,805,806,807,808,809,821,822,823,824,825,826,827,829,830,831
id_1,,,,,,,,,,,,,,,,,,,
801,0.0,4.4,9.4,12.0,18.3,20.9,15.8,18.4,19.7,22.1,23.1,24.9,15.7,16.4,17.4,18.3,20.4,21.5,22.1
802,4.4,0.0,5.3,8.1,14.4,17.0,22.3,16.0,17.3,19.6,20.7,22.4,23.7,24.8,15.9,16.8,19.0,20.1,20.6
803,9.4,5.3,0.0,3.1,9.4,12.0,17.3,21.7,23.9,16.6,17.7,19.4,20.7,21.8,23.5,15.0,17.2,18.3,18.8
804,12.0,8.1,3.1,0.0,6.9,9.5,14.8,19.2,21.4,15.1,16.2,17.9,19.2,20.3,22.0,23.6,16.3,17.4,17.9
805,18.3,14.4,9.4,6.9,0.0,3.1,8.4,12.8,15.0,18.8,20.6,23.5,15.4,16.5,18.2,19.7,23.3,15.1,15.6
806,20.9,17.0,12.0,9.5,3.1,0.0,5.9,10.3,12.5,16.3,18.1,21.0,23.2,25.0,16.7,18.2,21.8,23.6,24.5
807,15.8,22.3,17.3,14.8,8.4,5.9,0.0,4.5,6.7,10.7,12.5,15.4,17.5,19.3,22.1,24.7,18.4,20.2,21.1
808,18.4,16.0,21.7,19.2,12.8,10.3,4.5,0.0,2.7,6.4,8.2,11.1,13.3,15.1,17.9,20.5,15.9,17.7,18.6
809,19.7,17.3,23.9,21.4,15.0,12.5,6.7,2.7,0.0,4.6,6.4,9.3,11.4,13.3,16.0,18.6,24.6,16.6,17.5
821,22.1,19.6,16.6,15.1,18.8,16.3,10.7,6.4,4.6,0.0,2.8,5.7,7.9,9.7,12.5,14.7,20.7,23.7,15.1
822,23.1,20.7,17.7,16.2,20.6,18.1,12.5,8.2,6.4,2.8,0.0,3.5,5.6,7.4,10.2,12.5,18.5,21.5,22.9
823,24.9,22.4,19.4,17.9,23.5,21.0,15.4,11.1,9.3,5.7,3.5,0.0,2.8,4.6,7.4,9.6,15.6,18.6,20.1
824,15.7,23.7,20.7,19.2,15.4,12.2,17.5,13.3,11.4,7.9,5.6,2.8,0.0,2.7,5.5,7.7,13.7,16.7,18.2
825,16.4,24.8,21.8,20.3,16.5,25.0,19.3,15.1,13.3,9.7,7.4,4.6,2.7,0.0,3.4,5.7,11.7,14.6,16.1
826,17.4,15.9,23.5,22.0,18.2,16.7,22.1,17.9,16.0,12.5,10.2,7.4,5.5,3.4,0.0,3.2,9.1,12.0,13.6
827,18.3,16.8,15.0,23.6,19.7,18.2,24.7,20.5,18.6,14.7,12.5,9.6,7.7,5.7,3.2,0.0,6.5,9.5,11.0
829,20.4,19.0,17.2,16.3,23.3,21.8,18.4,15.9,24.6,20.7,18.5,15.6,20.1,11.7,9.1,6.5,0.0,3.7,5.2
830,21.5,20.1,18.3,17.4,15.1,23.6,20.2,17.7,16.6,23.7,21.5,18.6,16.7,0.0,12.0,9.5,3.7,0.0,2.2
831,22.1,20.6,18.8,17.9,15.6,24.5,21.1,18.6,17.5,15.1,22.9,20.1,18.2,16.1,13.6,11.0,5.2,2.2,0.0

# Q-6 Time check

In [59]:
cdf= pd.read_csv('D:\python\Mapup assesment\datasets\dataset-2.csv')
cdf

,id,name,id_2,startDay,startTime,endDay,endTime,able2Hov2,able2Hov3,able3Hov2,able3Hov3,able5Hov2,able5Hov3,able4Hov2,able4Hov3
0,1040000,Montgomery,-1,Monday,05:00:00,Wednesday,10:00:00,3.0,3.0,-1.0,-1,3,3,3,3
1,1040010,Black,-1,Monday,10:00:00,Friday,15:00:00,6.0,6.0,-1.0,-1,6,6,6,6
2,1040020,Emerald,-1,Thursday,15:00:00,Friday,19:00:00,3.0,3.0,-1.0,-1,3,3,3,3
3,1040030,Foley,-1,Monday,19:00:00,Friday,23:59:59,6.0,6.0,-1.0,-1,6,6,6,6
4,1050000,Whittier,1050001,Saturday,00:00:00,Sunday,23:59:59,6.0,6.0,NaN,-1,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39509,1031012,Baldwin,1031030,Monday,19:00:00,Friday,23:59:59,11.0,11.0,4.0,4,11,11,11,11
39510,1031012,Baldwin,1031032,Saturday,00:00:00,Sunday,23:59:59,11.0,11.0,4.0,4,11,11,11,11
39511,1031014,Thickson,1031016,Saturday,00:00:00,Sunday,23:59:59,11.0,11.0,4.0,4,11,11,11,11
39512,1031014,Thickson,1031018,Monday,05:00:00,Wednesday,10:00:00,8.0,8.0,4.0,4,8,8,8,8
39513,1031014,Thickson,1031020,Monday,10:00:00,Friday,15:00:00,11.0,11.0,4.0,4,11,11,11,11

In [62]:
cdf['start_timestamp'] = pd.to_datetime(cdf['startDay'] + ' ' + cdf['startTime'])
cdf['end_timestamp'] = pd.to_datetime(cdf['endDay'] + ' ' + cdf['endTime'])
cdf['duration'] = cdf['end_timestamp'] - cdf['start_timestamp']
completeness_check = (
        (cdf['duration'] >= pd.Timedelta('1 day')) &  
        (cdf['start_timestamp'].dt.dayofweek == 0) & 
        (cdf['end_timestamp'].dt.dayofweek == 6) 
    )
completeness_result = cdf.groupby(['id', 'id_2'])['duration'].count().eq(1) | ~completeness_check.groupby(['id', 'id_2']).all()
completeness_result

C:\Users\maharaj\AppData\Local\Temp\ipykernel_33996\2217773661.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  cdf['start_timestamp'] = pd.to_datetime(cdf['startDay'] + ' ' + cdf['startTime'])

AttributeError: type object 'relativedelta' has no attribute 'relativedelta'